@import url('main.css');

h1 {
    font-size: 3rem;
    padding-left: 1rem;
}

p {
    padding-left: 1rem;
}

#ledenlijstx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.leden-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#leden-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 1rem;
    padding: 1rem;
}

.card {
    background: rgb(44, 44, 44);
    color: aliceblue;
    border: 10px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(188, 78, 156, 0.8);
    border-image: linear-gradient(to top, #bc4e9c, #f80759) 1;
    cursor: pointer;
}

.gebruikers-profiel {
    background: var(--primary-color);
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: 10px;
}

.gebruikers-profiel img {
    margin: 10px;
}

.card-img-top {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    scale: 0.8;
}