@import url('main.css');

h1 {
    font-size: 3rem;
    padding-left: 1rem;
}

p {
    padding-left: 1rem;
}

.profiel-container {

}

.gebruikers-profiel {
    display: flex;
    flex-direction: column; /* Dit zorgt ervoor dat de tekst onder de afbeelding komt */
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 250px;
    width: 250px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to top, #bc4e9c, #f80759) 1;
    border-radius: 10px;
}

.gebruikers-profiel img {
    margin-bottom: 3px; 
}

